<header id="header">
  <h1><a href="#">Broadcast <span>by TEMPLATED</span></a></h1>
  <a href="#menu">Menu</a>
</header>
<nav id="menu">
  <ul class="links">
    <li><a routerLink="/">Home</a></li>
    <li><a routerLink="generic">Generic</a></li>

      <li><a routerLink="elements">elements</a>
        <ul class="dropdown">
          <li><a routerLink="elements/themes" >themes</a></li>
          <li><a href="#">plugins</a></li>
          <li><a href="#">tutorial</a></li>
        </ul>
      </li>

    </ul>
</nav>



